<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="LocalizedPerfCounter" value="true" />
  </appSettings>
  <uri>
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <clear/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
